*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    background-color: gray;
    color: white;
    padding: 10px 20px;
}

footer{
    background-color: gray;
    color: white;
    padding: 10px 20px;
}

main{
    flex: 1;
    display: flex;
}

nav{
    width: 100px;
    height: 100%;
    background-color: aqua;
}

h2{
    color: red;
}